*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(234,234,234);
  font-family: serif, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

#navbar {
  width: 300px;
  height: 100%;
  position: fixed;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar header {
  margin: 1em;
  text-align: center;
  font-size: 30px;
  color: black;
}

.nav-link {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  color: darkslategrey;
  display: block;
  padding: 10px 30px;
  border-top: 1px solid black;
  text-align: center;
}

.nav-link:hover {
  background-color: gray;
}

#main-doc {
  margin-left: 350px;
}

.main-section {
  margin-top: 50px;
  border-top: 1px solid;
}

.main-section > header {
  font-size: 30px;
}

.main-section > ul {
  padding-top: 10px;
  padding-left: 20px;
}

code {
  background-color: silver;
}